ul{
	list-style: none;
}

ul li{
	background-color: orange;
	width: 100px;
	height: 100px;
	margin-top: 20px;
	display: inline-block;
}

.coral {
	background-color:coral;
}

.black {
	background-color:black;
}